div {
     align-items: center;
    border: 2px black solid;
    width: 20%;
    height: 150px;
    float: left;
    margin: 6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   color: blue;

}
.done {
text-decoration: line-through;
color: gray;
}